---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>@tiff</h1>
		<p class="center">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			
		</ul>
	</main>
</Layout>

<style is:global>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: calc(100% - 2rem);
	}
	h1 {
		font-size: 4rem;
		font-weight: 800;
		line-height: 1;
		text-align: center;
	}
  .center {
    text-align: center;
  }
</style>
