---
import Layout from '../layouts/Layout.astro';
import ProfileLinks from '../components/ProfileLinks.astro'

const links = [
  {
    title: "GitHub",
    href: "https://github.com/twhite96"
  },
  {
    title: "Website",
    href: "https://0x8c.org"
  },
  {
    title: "LinkedIn",
    href: "https://linkedin.com/in/tiffanyrwhite"
  },
  {
    title: "TryHackMe",
    href: "https://tryhackme.com/p/tiffcatte"
  },
  {
    title: "HackTheBox",
    href: "https://app.hackthebox.com/profile/1602474"
  },
  {
    title: "Loose Notes",
    href: "https://notes.0x8c.org"
  },
  {
    title: "Wiki",
    href: "https://wiki.0x8c.org"
  },
  {
    title: "Mastodon",
    href: "https://infosec.exchange/@tiff"
  }
]
---

<Layout title="tiff on the web.">
	<main>
    <div class="profile-image-container">
      <img src="./favicon.png" width="200" height="200" alt="profile-image" class="profile-image">
    </div>
		<h1 class="center">@tiff</h1>
    <p class="center">

      <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Fira+Mono&weight=500&size=22&duration=3000&pause=500&color=2EE1A7&center=true&vCenter=true&width=280&lines=Places+you+can+;find+me;on+the+web" alt="Typing SVG" /></a>
    </p>
    <section class="container">
      <ul>
        {links.map((link) => <ProfileLinks {...link} />)}
      </ul>
    </section>
	</main>
</Layout>

<style is:global>
	main {
		margin: -1rem auto;
		padding: 1.5rem;
    max-width: calc(90% - 1rem);
    overflow: hidden;
	}

	h1 {
		font-size: 4rem;
		font-weight: 800;
		line-height: 1;
		text-align: center;
    color: #2ee1a7;
	}
  .center {
    text-align: center;
  }

  .profile-image-container {
    background: transparent;
    border-radius: 100%;
    width: 200px;
    display: block;
    margin: 0 auto;
  }



  /* .profile-image {

  } */
</style>
