---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class='link-button'>
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
  </a>
</li>
<style>
  .link-button {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    /* background-size: 400%; */
    border-radius: 7px;
    /* background-position: 100%; */
    margin-bottom: 1rem;
  }
  .link-button > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: #2ee1a7;
    background-color: #23262d;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-button:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
  }
  .link-button:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
